# Add Biryani extra requirement here because it is needed by OpenFisca-Core and installation from Git URL below
# does not take extras_require of Core setup.py into account.
Biryani[datetimeconv] >= 0.10.4
--editable git+https://github.com/openfisca/openfisca-core.git@taxipp#egg=OpenFisca-Core
--editable git+https://github.com/openfisca/openfisca-france.git@taxipp#egg=OpenFisca-France
--editable git+https://github.com/openfisca/openfisca-survey-manager.git#egg=OpenFisca-Survey-Manager
--editable .
