-e git+https://github.com/openfisca/openfisca-core.git@master#egg=OpenFisca-Core
-e git+https://github.com/openfisca/openfisca-france.git@master#egg=OpenFisca-France
-e git+https://github.com/openfisca/openfisca-survey-manager.git@master#egg=OpenFisca-Survey-Manager
-e .
