-e git+https://github.com/openfisca/openfisca-core.git#egg=OpenFisca-Core
-e git+https://github.com/benjello/openfisca-france.git@ayrault_muet#egg=OpenFisca-France
-e git+https://github.com/openfisca/openfisca-survey-manager.git#egg=OpenFisca-Survey-Manager
-e .
